* {
    margin: 0;
    padding: 0;
}

.image {
    height: 450px;
    width: 100%;
    z-index: 1;
    left: -20px;
}

#wall_1 {
    height: 700px;
}

.image h2 {
    font-family: "Wellfleet";
    font-size: 48px;
    position: relative;
    top: 45%;
    left: 35%;
}

.image h3 {
    font-family: "Wellfleet";
    font-size: 36px;
    color: #99a3a3;
    position: relative;
    top: 70%;
    left: 30%;
}

.image a {
    font-family: "Wellfleet";
    font-size: 36px;
    position: relative;
    top: 35%;
    left: 32%;
}

.image #mid {
    left:2%;
}

.content {
    height: 700px;
    width:100%;
    background: white;
    z-index: 2;
}

#content_1 {
    height: 350px;
}

#content_2 .row {
    left: 5%;
}

.content h1 {
    font-size: 40px;
    color: #464646;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 30px 60px;
}

.content p {
    font-size: 20px;
    line-height: 200%;
    color: #343434;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 30px 60px;
}

.content img {
    margin: 45px;
}

#wall_1 {
    background: url(../img/top_bg.png) repeat;
    background-attachment: fixed;
}

#wall_2 {
    background: url(../img/mid_bg.png) repeat;
    background-attachment: fixed;
}

#wall_3 {
    background: url(../img/bot_bg.png) repeat;
    background-attachment: fixed;
    height: 300px;
}

#wall_3 a img {
    position: relative;
    top: 50%;
    left: 12%;
}

.menu {
    position: fixed;
    left: 70%;
    top: 3.5%;
    font-size: 18px;
}

.menu a:link, a:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
}

#nav {
    height: 70px;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    background: rgba(255,255,255,1);
    z-index: 100;
    -webkit-box-shadow:0px 0px 20px rgba(44,44,44,.3);
}
#nav #logo {
    position: absolute;
    top: 0;
    bottom:0;
    margin: 8px;
    margin-left: 50px;
}

#nav #logo img {
    height: 100%;
    width: 321.1px;

}

h1::first-letter {
    font-size: 60px;
    font-weight: 600;
    color:#3cb0f8;
}